distanceMatrix.rds
distanceMatrixIndex.csv
melbourne-2016-population.zip*
sa1_2016_aust.csv.gz
SA1attributed.sqlite
SA1centroids.sqlite
addresses.sqlite
vista_2012_16_v1_sa1_csv.zip*
VISTA_12_18_CSV.zip*
