# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar
#*.zip # would also concern zipped data files.  kai, dec'17

.settings
.project
.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# class files etc.:
/target/

# exclude intellj files:
**/.idea
**/*.iml

# ignore outputs
/config.xml
plansCoM.xml.gz
population-from-latch.xml
**/output

# macOS files
.DS_Store

# ignore copies of MATSim
/matsim-0.*
