Rplots.pdf
.Rhistory
.RData
.DS_Store
vista_*_extracted_activities_weekday.csv.gz
vista_*_extracted_activities_weekend.csv.gz
vista_*_extracted_activities_weekday_time_bins.csv.gz
vista_*_extracted_activities_weekend_time_bins.csv.gz
vista_*_extracted_activities_weekday_markov_chain_model.pdf
vista_*_extracted_activities_weekday_markov_chain_model.rds
