.Rhistory
.RData
.DS_Store
/mel2016*.csv.gz
vista_2012_16_extracted_activities_weekday.csv.gz
vista_2012_16_extracted_activities_weekend.csv.gz
vista_2012_16_extracted_activities_weekday_markov_chain_model.pdf
vista_2012_16_extracted_activities_weekday_markov_chain_model.rds
